@font-face {
  font-family: 'ChicagoFLF', Arial, Helvetica, sans-serif;
  src: url(./res/font/ChicagoFLF.ttf); 
}

* {
  font-family: 'ChicagoFLF';
}
body {
  background-image: 
    radial-gradient(rgb(255, 84, 4) 30%, transparent 36%),
    radial-gradient(rgb(255, 84, 4) 30%, transparent 36%),
    radial-gradient(rgb(51, 176, 136) 30%, transparent 36%),
    radial-gradient(rgb(51, 176, 136) 30%, transparent 36%);
  background-position: 0px 0px, 104px 104px, -10.4px 10.4px, 93.6px 114.4px;
  background-size: 208px 208px;
  background-color: rgb(148, 74, 235);
  background-attachment: scroll;
}
.wrapper {
background-color: white;
max-width: 1440px;
margin: 0 auto;
border-radius: 15px;
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
-khtml-border-radius: 15px;
}
.logo {
  color: #666;
  font-size: 1.5em;
  padding: 1em;
}