@font-face {
  font-family: 'ChicagoFLF';
  src: url('./res/font/chicago-flf.ttf') format('truetype');
}
* {
  font-family: 'ChicagoFLF';
}
body {
  background-image: 
    radial-gradient(rgb(255, 84, 4) 30%, transparent 36%),
    radial-gradient(rgb(255, 84, 4) 30%, transparent 36%),
    radial-gradient(rgb(51, 176, 136) 30%, transparent 36%),
    radial-gradient(rgb(51, 176, 136) 30%, transparent 36%);
  background-position: 0px 0px, 104px 104px, -10.4px 10.4px, 93.6px 114.4px;
  background-size: 208px 208px;
  background-color: rgb(148, 74, 235);
  background-attachment: fixed;
}
main {
  overflow: hidden;
  display: block;
  padding: 1.5em;
}
footer {
  text-align: center;
  padding: 1em;
  font-size: 0.8em;
  clear: both;
}
h6 {
  margin-top: 0;
}
.wrapper {
  background-color: rgba(248, 225, 229, 0.7);
  backdrop-filter: blur(10px);
  max-width: 1300px;
  margin: 0 auto;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -khtml-border-radius: 15px;
}
.logo {
  display: flex;
  flex-flow: column;
  border-bottom: solid 1px #c0c0c0;
}
.logo span {
  color: #666;
  font-size: 0.9rem;
  padding: 0 0 1em 1em;
}
#content {
  width: fit-content;
}
.imgwrap {
  position: relative; /* Establish the containing block for absolute positioning */
  overflow: hidden;
  margin-bottom: 10px; /* Too separate images */
}

.imgwrap img {
  border-radius: 15px;
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: all 0.3s ease-in-out, bottom 0.3s ease-in-out;
}

.imgwrap h6 {
  font-weight: lighter;
  margin: 0;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  position: absolute;
  border-radius: 0 15px 0 15px;
  bottom: 5px; /* Shut up I'm not a bottom!! */
  left: 0;
  width: fit-content;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.imgwrap:hover img {
  top: -10px;       /* Move top edge */
  bottom: -10px;    /* Move bottom edge */
  height: 300px;
}

.imgwrap:hover h6 {
  opacity: 1;
}

a {
  color: black;
}
aside {
  text-align: right;
  width: 100%;
  border-left: none;
  border-top: solid 1px #c0c0c0;
  height: fit-content;
}
/* TODO Decide what to do with the following commented out code*/
/* aside.section { 
  background-color: #c0c0c0;
  padding: 1.7em;
  box-sizing: border-box;
}
aside.section h3 {
  background-color: aquamarine;
  color: white;
  padding: 1em;
  margin-top: 0;
} */
aside ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
aside a {
  padding: 0.75em 0;
  display: block;
}
article {
  margin-bottom: 3.65em;
  margin-top: 3.65em;;
}
article h2 {
  margin-bottom: 0;
  font-size: 1.8em;
  padding: 0;
}
article p {
  margin-top: 0.75em;
  padding: 0;
}

@media screen and (min-width: 980px) {
  main {
  display: flex;
  justify-content: space-between;
}
aside {
  width: 28%;
  border-left: solid 1px #c0c0c0;
  border-top: none;
}
#content {
  width: 70%;
}
.imgwrap:hover img {
  height: 400px;
}
.logo {
  flex-flow: row;
  border-bottom: solid 1px #c0c0c0;
}
.logo span {
  color: #666;
  font-size: 0.9rem;
  padding: 2em 0 0 0;
}
} /* Closing bracket for @media */